

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: #D7CCC8;
}

form{
    text-align: center;
}

fieldset{
    background-color: #D7CCC8;
}
div{
    background-color: #EFEBE9;
}